@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    /* Prevents extra space and extra height to the page */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #FFF8EA;
    font-family: 'Roboto', sans-serif;
}
section {
    min-height: 100vh;
}

/* Navbar */
.nav {
    z-index: 10;
    /* position: fixed; */
    /* width: 100vw; */
    padding: 1%;
    padding-left: 10%;
}
/* Carousel */
.carousel{
    width: 100%;
}
.carousel img{
    height:325px;
    object-fit: cover;
}
.carousel-control-prev,.carousel-control-next{
    display: block;
    width: 7%;
}

/* For Trending section cards */

.trending-sec{
    margin: 3%;
    margin-top: 7%;
}
.trending-sec img{
    object-fit: cover;
    height: 100%;
}
/* About Section */
.bookshelf {
    height: 50%;
    max-width: 100%;
}
.mobile {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 500px;
}